### `Problem 1` - Print the following pattern. Write a program to use for loop to print the following reverse number pattern.

```bash
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1
```

In [11]:
num=int(input("Enter the number :"))

for i in range(num,0,-1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

Enter the number :10
10 9 8 7 6 5 4 3 2 1
9 8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
7 6 5 4 3 2 1
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

### `Problem 2`: Print the following pattern.

```bash
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*
```

In [24]:
num=int(input("Enter the number :"))

for i in range(1,num+1):
    for j in range(1,i+1):
        print('*',end=" ")
    print()
for k in range(num,1,-1):
    for l in range(k,1,-1):
        print('*',end=" ")
    print()

Enter the number :10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

### `Problem 3`:Write a program to pring the following pattern

        *
      * * *
    * * * * *
   * * * * * * *
* * * * * * * * *

In [26]:
rows=int(input("Enter the rows :"))

for i in range(1,rows):
    print(' '*rows,end='')
    print('* '*i)
    rows-=1

Enter the rows :20
                    *
                   * *
                  * * *
                 * * * *
                * * * * *
               * * * * * *
              * * * * * * *
             * * * * * * * *
            * * * * * * * * *
           * * * * * * * * * *
          * * * * * * * * * * *
         * * * * * * * * * * * *
        * * * * * * * * * * * * *
       * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
     * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
   * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * *

### `Problem 4`:Write a program to print the following pattern

1 

2 1 

3 2 1 

4 3 2 1 

5 4 3 2 1

In [29]:
num=int(input("Enter the number :"))

for i in range(1,num+1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

Enter the number :5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

### `Problem 5`: Write a Python Program to Find the Sum of the Series till the nth term:<br> 
1 + x^2/2 + x^3/3 + â€¦ x^n/n<br>
n will be provided by the user

In [39]:
x=10
n=5

sum=1
s=''

print('1 + ',end='')
for i in range(2,n+1):
    sum=sum+x**i/i
    s=s+'x^{}/{} +'.format(i,i)

print(s[:-1])
print(sum)

1 + x^2/2 +x^3/3 +x^4/4 +x^5/5
22884.333333333332

### `Problem 6`: The natural logarithm can be approximated by the following series.

<img src="http://hyperphysics.gsu.edu/hbase/Math/immath/lnseries.png"/>
If x is input through the keyboard, write a program to calculate the sum of the first seven terms of this series.

In [45]:
x=10
n=5

sum=0
s=''

for i in range(1,n+1):
    sum = sum + (1/i)*((x-1)/x)**i
    s=s+'(1/{})*((x-1)/x)^{} +'.format(i,i)
print(s[:-1])
print(sum)

(1/1)*((x-1)/x)^1 +(1/2)*((x-1)/x)^2 +(1/3)*((x-1)/x)^3 +(1/4)*((x-1)/x)^4 +(1/5)*((x-1)/x)^5
1.8301230000000004

### `Problem 7` - Find the sum of the series upto n terms.
Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690. Take the user input and then calculate. And the output style should match which is given in the example.

**Example 1:**

`Input:`
```bash
5
```

`Output:`

```bash
2+22+222+2222+22222
Sum of above series is: 24690

In [48]:
n=int(input("enter the number of terms :"))
start=2
end=0
sum=0

for i in range(0,n):
    if i<n-1:
        print(start,end='+')
    else:
        print(start)
    
    sum=sum+start
    start=start*10+2

print(sum)

enter the number of terms :5
2+22+222+2222+22222
24690

### `Problem 8`: Write a program to print all the unique combinations of 1,2,3 and 4 

`Output`:
```
1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
.
.
and so on
```

In [49]:
for i in range(1,5):
    for j in range(1,5):
        for k in range(1,5):
            for l in range(1,5):
                print(i,j,k,l)

1 1 1 1
1 1 1 2
1 1 1 3
1 1 1 4
1 1 2 1
1 1 2 2
1 1 2 3
1 1 2 4
1 1 3 1
1 1 3 2
1 1 3 3
1 1 3 4
1 1 4 1
1 1 4 2
1 1 4 3
1 1 4 4
1 2 1 1
1 2 1 2
1 2 1 3
1 2 1 4
1 2 2 1
1 2 2 2
1 2 2 3
1 2 2 4
1 2 3 1
1 2 3 2
1 2 3 3
1 2 3 4
1 2 4 1
1 2 4 2
1 2 4 3
1 2 4 4
1 3 1 1
1 3 1 2
1 3 1 3
1 3 1 4
1 3 2 1
1 3 2 2
1 3 2 3
1 3 2 4
1 3 3 1
1 3 3 2
1 3 3 3
1 3 3 4
1 3 4 1
1 3 4 2
1 3 4 3
1 3 4 4
1 4 1 1
1 4 1 2
1 4 1 3
1 4 1 4
1 4 2 1
1 4 2 2
1 4 2 3
1 4 2 4
1 4 3 1
1 4 3 2
1 4 3 3
1 4 3 4
1 4 4 1
1 4 4 2
1 4 4 3
1 4 4 4
2 1 1 1
2 1 1 2
2 1 1 3
2 1 1 4
2 1 2 1
2 1 2 2
2 1 2 3
2 1 2 4
2 1 3 1
2 1 3 2
2 1 3 3
2 1 3 4
2 1 4 1
2 1 4 2
2 1 4 3
2 1 4 4
2 2 1 1
2 2 1 2
2 2 1 3
2 2 1 4
2 2 2 1
2 2 2 2
2 2 2 3
2 2 2 4
2 2 3 1
2 2 3 2
2 2 3 3
2 2 3 4
2 2 4 1
2 2 4 2
2 2 4 3
2 2 4 4
2 3 1 1
2 3 1 2
2 3 1 3
2 3 1 4
2 3 2 1
2 3 2 2
2 3 2 3
2 3 2 4
2 3 3 1
2 3 3 2
2 3 3 3
2 3 3 4
2 3 4 1
2 3 4 2
2 3 4 3
2 3 4 4
2 4 1 1
2 4 1 2
2 4 1 3
2 4 1 4
2 4 2 1
2 4 2 2
2 4 2 3
2 4 2 4
2 4 3 1
2 4 3 2
2 4 3 3
2 4 3 4
2 4 4 1
2 4 4 2
2 4 4 3
2 4 4 4
3 1 1 1
3 1 1 2
3 1 1 3
3 1 1 4
3 1 2 1
3 1 2 2
3 1 2 3
3 1 2 4
3 1 3 1
3 1 3 2
3 1 3 3
3 1 3 4
3 1 4 1
3 1 4 2
3 1 4 3
3 1 4 4
3 2 1 1
3 2 1 2
3 2 1 3
3 2 1 4
3 2 2 1
3 2 2 2
3 2 2 3
3 2 2 4
3 2 3 1
3 2 3 2
3 2 3 3
3 2 3 4
3 2 4 1
3 2 4 2
3 2 4 3
3 2 4 4
3 3 1 1
3 3 1 2
3 3 1 3
3 3 1 4
3 3 2 1
3 3 2 2
3 3 2 3
3 3 2 4
3 3 3 1
3 3 3 2
3 3 3 3
3 3 3 4
3 3 4 1
3 3 4 2
3 3 4 3
3 3 4 4
3 4 1 1
3 4 1 2
3 4 1 3
3 4 1 4
3 4 2 1
3 4 2 2
3 4 2 3
3 4 2 4
3 4 3 1
3 4 3 2
3 4 3 3
3 4 3 4
3 4 4 1
3 4 4 2
3 4 4 3
3 4 4 4
4 1 1 1
4 1 1 2
4 1 1 3
4 1 1 4
4 1 2 1
4 1 2 2
4 1 2 3
4 1 2 4
4 1 3 1
4 1 3 2
4 1 3 3
4 1 3 4
4 1 4 1
4 1 4 2
4 1 4 3
4 1 4 4
4 2 1 1
4 2 1 2
4 2 1 3
4 2 1 4
4 2 2 1
4 2 2 2
4 2 2 3
4 2 2 4
4 2 3 1
4 2 3 2
4 2 3 3
4 2 3 4
4 2 4 1
4 2 4 2
4 2 4 3
4 2 4 4
4 3 1 1
4 3 1 2
4 3 1 3
4 3 1 4
4 3 2 1
4 3 2 2
4 3 2 3
4 3 2 4
4 3 3 1
4 3 3 2
4 3 3 3
4 3 3 4
4 3 4 1
4 3 4 2
4 3 4 3
4 3 4 4
4 4 1 1
4 4 1 2
4 4 1 3
4 4 1 4
4 4 2 1
4 4 2 2
4 4 2 3
4 4 2 4
4 4 3 1
4 4 3 2
4 4 3 3
4 4 3 4
4 4 4 1
4 4 4 2
4 4 4 3
4 4 4 4

### `Problem 9`: Write a program that will take a decimal number as input and prints out the binary equivalent of the number

In [53]:
n=int(input("enter the decimal number :"))

if n<0:
    print('Invalid')
else:
    ans=''
    while n:
        ans+=str(n&1)
        n=n>>1
    
    print(f'the binary number of the number {n} is {ans[::-1]}')

enter the decimal number :60
the binary number of the number 0 is 111100

In [57]:
n=int(input("enter the decimal number :"))
binary=[]

while n>0:
    binary.append(n%2)
    n=n//2

#print(binary)

for i in binary[::-1]:
    print(i,end="")

enter the decimal number :60
111100

### `Problem 10`: Write a program that will take 2 numbers as input and prints the LCM and HCF of those 2 numbers

In [59]:
# LCM of two numbers is the smallest common multiple or a positive integer which is divisible completely by both the numbers. 

x=int(input("enter the 1st number :"))
y=int(input("enter the 2nd number :"))

if x>y:
    greater=x
else:
    greater=y
    
while True:
    if (greater%x==0) and (greater%y==0):
        lcm=greater
        break

    greater=greater+1

print(lcm)

enter the 1st number :15
enter the 2nd number :25
75

In [62]:
#The highest common factor of two numbers is defined as the greatest common factor of the two numbers. 
#For example, letâ€™s consider two numbers 12 and 18.
#The two numbers mentioned have the common factors as 2,3, and 6. 
#The highest out of the three is 6. So in this case the HCF is 6.

x=int(input("enter the 1st number :"))
y=int(input("enter the 2nd number :"))

if x<y:
    smaller=x
else:
    smaller=y
    
for i in range(1,smaller+1):
    if (x%i==0) and (y%i==0):
        hcf=i

print(hcf)

enter the 1st number :12
enter the 2nd number :15
3

### **Problem 11:** Create Short Form from initial character
Given a string create short form ofthe string from Initial character. Short form should be capitalised.

Example:

`Input:`
```
Data science mentorship program
```

`Output:`
```
DSMP
```

In [64]:
inp='Data science mentorship program'
result=''

for i in inp.split():
    result+=i[0].upper()

print(result)

DSMP

### `Problem 12`: Append second string in the middle of first string

`Input:`
```
campusx
data
```
`Output`:

```
camdatapusx
```

In [66]:
s1=input("enter the 1st string :")
s2=input("enter the 2nd string :")

print(s1[0:int(len(s1)/2)]+s2+s1[int(len(s1)/2):])

enter the 1st string :campusx
enter the 2nd string :data
camdatapusx

###  ``Problem 13``:Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.

Given:

`str1 = PyNaTive`

Expected Output:

`yaivePNT`

In [70]:
s = 'PyNaTive'

lower=''
upper=''

for i in s:
    if i.islower():
        lower+=i
    else:
        upper+=i

print(lower+upper)

yaivePNT

###  `Problem 14:`Take a alphanumeric string input and print the sum and average of the digits that appear in the string, ignoring all other characters.

Input:

`hel123O4every093`

Output:

```
Sum: 22
Avg: 2.75
```

In [72]:
alpha_numeric_str='hel123O4every093'

sum=0
digit_counter=1
for i in alpha_numeric_str:
    if i.isdigit():
        sum+=int(i)
        digit_counter+=1

print('sum :',sum)
print('avg :',(sum/digit_counter))

sum : 22
avg : 2.75

###  `Problem 15:` Removal of all characters from a string except integers
`Given:`

```
str1 = 'I am 25 years and 10 months old'
```
`Expected Output:`
```
2510
```

In [73]:
str1 = 'I am 25 years and 10 months old'
integer_str=''

for i in str1:
    if i.isdigit():
        integer_str+=str(i)

print(integer_str)

2510

###  `Problem 16`: Check whether the string is Symmetrical.

**Statement:** Given a string. the task is to check if the string is symmetrical or not. A string is said to be symmetrical if both the halves of the string are the same.

**Example 1:**

`Input`

```bash
khokho
```

`Output`

```bash
The entered string is symmetrical
```

In [77]:
s = input('enter the string :')

if len(s)%2==0:
    s1=s[0:len(s)//2]
    s2=s[len(s)//2:]
else:
    s1=s[0:len(s)//2]
    s2=s[len(s)//2+1:]

if s1==s2:
    print("Symmetrical")
else:
    print("Non Symmetrical")

enter the string :mom
Symmetrical

### `Problem 17`: Reverse words in a given String

**Statement:** We are given a string and we need to reverse words of a given string.

**Example 1:**

`Input:`

```bash
geeks quiz practice code
```

`Output:`

```bash
code practice quiz geeks
```

**Example 2:**

`Input:`

```bash
my name is laxmi
```

`Output:`

```bash
laxmi is name my
```

In [89]:
s='geeks quiz practice code'
words=[]


for i in s.split():
    words.append(i)

print(" ".join(words[::-1]))

code practice quiz geeks

### `Problem 18`: Find uncommon words from two Strings.

**Statement:** Given two sentences as strings **A** and **B**. The task is to return a list of all uncommon words. A word is uncommon if it appears exactly once in any one of the sentences, and does not appear in the other sentence. Note: A sentence is a string of space-separated words. Each word consists only of lowercase letters.

**Example 1:**

`Input:`

```bash
A = "apple banana mango" 
B = "banana fruits mango"
```

`Output:`

```bash
['apple', 'fruits']
```

In [91]:
A = "apple banana mango" 
B = "banana fruits mango"

L=[]

for i in A.split():
    if i not in B and i not in L:
        L.append(i)

for i in B.split():
    if i not in A and i not in L:
        L.append(i)

print(L)

['apple', 'fruits']

### `Problem 19`: Word location in String.

**Statement:** Find a location of a word in a given sentence.

**Example 1:**

`Input:`

```bash
Sentence: We can learn data science through campusx mentorship program.

word: campusx
```

`Output:`

```bash
Location of the word is 7.
```

Note- Don't use index/find functions

In [93]:
sentence='We can learn data science through campusx mentorship program.'
word='campusx'

pos=0
for i in sentence.split():
    pos+=1
    if i==word:
        break

print(f'`{word}` location is {pos}')

`campusx` location is 7

### `Problem 20`: Write a program that can remove all the duplicate characters from a string. User will provide the input.

In [96]:
s = 'aaaabbbbbccccdddeeeeffff'

res=''
for i in s:
    if i not in res:
        res+=i
        
print(res)

abcdef