In [1]:
import pandas as pd
import requests
from io import StringIO

### Problem-1:

You are given a SQL file link: https://drive.google.com/file/d/1WFt7B84LTHhMueoKmz8W-PRo7xXqmZf3/view?usp=share_link. Read the data by using the file and store it in a excel file. In this data, there are 3 tables named "invoices", "order_leads" and "sales_sql". So create 3 sheets to your excel file.

In [3]:
#pip install mysql.connector
#!pip install mysql.connector

In [7]:
#import sys
#sys.path.append(r'c:\python310\lib\site-packages')
import mysql.connector

In [9]:
conn=mysql.connector.connect(host='localhost',user='root',password='',database='supermarket')

In [10]:
invoices=pd.read_sql_query('SELECT * FROM invoices',conn)

C:\Users\khadarbasha\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [11]:
invoices.head()

,index,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal
0,0,839FKFW2LLX4LMBB,27-05-2016,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 07:00:00+02:00,['David Bishop'],469,Breakfast
1,1,97OX39BGVMHODLJM,27-09-2018,J0MMOOPP709DIDIE,LJKS5NK6788CYMUU,2018-10-01 20:00:00+02:00,['David Bishop'],22,Dinner
2,2,041ORQM5OIHTIU6L,24-08-2014,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 14:00:00+02:00,['Karen Stansell'],314,Lunch
3,3,YT796QI18WNGZ7ZJ,12-04-2014,C9SDFHF7553BE247,LJKS5NK6788CYMUU,2014-04-07 21:00:00+02:00,['Addie Patino'],438,Dinner
4,4,6YLROQT27B6HRF4E,28-07-2015,48EQXS6IHYNZDDZ5,LJKS5NK6788CYMUU,2015-07-27 14:00:00+02:00,['Addie Patino' 'Susan Guerrero'],690,Lunch

In [12]:
import sys
sys.path.append(r'c:\python310\lib\site-packages')
import pymysql
from sqlalchemy import create_engine

In [13]:
engine=create_engine("mysql+pymysql://root:@localhost/supermarket")

In [16]:
invoices=pd.read_sql_query('SELECT * FROM invoices',engine)
order_lead=pd.read_sql_query('SELECT * FROM order_leads',engine)
sales_sql=pd.read_sql_query('SELECT * FROM sales_sql',engine)

In [17]:
sales_sql.head()

,index,Sales Rep,Sales Rep Id,Company Name,Company Id
0,0,Jessie Mcallister,97UNNAT790E0WM4N,Chimera-Chasing Casbah,LJKS5NK6788CYMUU
1,1,Jessie Mcallister,97UNNAT790E0WM4N,Tangential Sheds,36MFTZOYMTAJP1RK
2,2,Jessie Mcallister,97UNNAT790E0WM4N,Two-Mile Grab,H3JRC7XX7WJAD4ZO
3,3,Jessie Mcallister,97UNNAT790E0WM4N,Three-Men-And-A-Helper Congo'S,HB25MDZR0MGCQUGX
4,4,Jessie Mcallister,97UNNAT790E0WM4N,Biophysical Battleground,7RVA8TIVBLBXMNO4

In [18]:
with pd.ExcelWriter('supermarket.xlsx') as writer:
    invoices.to_excel(writer,sheet_name='invoices')
    order_lead.to_excel(writer,sheet_name='order_lead')
    sales_sql.to_excel(writer,sheet_name='sales_sql')

### Problem-2

Go to the site: https://rapidapi.com/wirefreethought/api/geodb-cities. From here, you have to grab the API and have to choose proper routes to get the cities of different countries. After getting the right API, hit that API and create a dataframe of all the cities that you can get by using the API. Then store the dataframe to a SQL. If you need to create an account or have to subscribe, then do that (it has free subscription but has some limitations. Use that free subscription and modify your accordingly to get all the data).

In [14]:
import requests

url = "https://wft-geo-db.p.rapidapi.com/v1/geo/adminDivisions"

headers = {
    "x-rapidapi-key": "af728d4ef3msh61c7494c4b735fbp1f68eejsn968d4e6c416b",
    "x-rapidapi-host": "wft-geo-db.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

data=response.json()['data']
links=response.json()['links']
metadata=response.json()['metadata']

In [15]:
links

[{'rel': 'first', 'href': '/v1/geo/adminDivisions?offset=0&limit=5'},
 {'rel': 'next', 'href': '/v1/geo/adminDivisions?offset=5&limit=5'},
 {'rel': 'last', 'href': '/v1/geo/adminDivisions?offset=61940&limit=5'}]

In [16]:
metadata

{'currentOffset': 0, 'totalCount': 61945}

In [17]:
pd.DataFrame(data)

,id,wikiDataId,name,country,countryCode,region,regionCode,regionWdId,latitude,longitude,population
0,3515514,Q4117373,Al Mamzar,United Arab Emirates,AE,Emirate of Dubai,DU,Q613,25.309469,55.342811,0
1,3671889,Q1262899,Dubai Internet City,United Arab Emirates,AE,Emirate of Dubai,DU,Q613,25.095000,55.160000,24000
2,3850830,Q102179103,Shumayliyah,United Arab Emirates,AE,Emirate of Sharjah,SH,Q188810,25.333330,56.333330,0
3,3386644,Q3694483,Ab Band District,Afghanistan,AF,Ghazni,GHA,Q180415,32.983000,67.967000,0
4,3339608,Q2572213,Ab Kamari,Afghanistan,AF,Badghis,BDG,Q172052,34.925000,62.901667,0

In [18]:
count=metadata['totalCount']//5

In [19]:
next_url=links[1]['href']

In [20]:
import time

num_iters=1
for i in range(1,count):
    num_iters+=1
    
    url = "https://wft-geo-db.p.rapidapi.com"
    page=url+next_url
    
    response = requests.get(page, headers=headers)
    
    links=response.json()['links']
    for item in links:
        if item['rel']=='next':
            next_url=item['href']
    
    data.extend(response.json()['data'])
            
    if num_iters==10:
        break
    
    time.sleep(3)

In [22]:
cites=pd.DataFrame(data)

In [25]:
import sys
sys.path.append(r'c:\python310\lib\site-packages')
import pymysql
from sqlalchemy import create_engine

In [26]:
engine=create_engine("mysql+pymysql://root:@localhost/temp_db")

In [28]:
cites.to_sql("cites",con=engine,if_exists='append')

50

### Problem 3:

Go to this url: https://www.flipkart.com/search?q=smartphones. This is the url to find phones in flipkart website. You have to extract the below things:
1. image url of the phone
2. name of the image
3. average ratings
4. total ratings
5. total reviews
6. discounted price
7. actual price

Extract all the phones which are available in this website. So you have to use the pagination concept. **Also after requesting every page through the url, please wait for a while (minimum 2-3 seconds), otherwise your IP address can be banned to access the flipkart website later.**

After collecting all the data, save that in a JSON file.

In [30]:
import requests
from bs4 import BeautifulSoup
import time

import pandas as pd
import numpy as np

In [36]:
headers={"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3"}
requests.get('https://www.flipkart.com/search?q=smartphones&page=1')

In [37]:
webpage

'<!DOCTYPE html>\n<html lang="en">\n\n<head>\n    <meta charset="UTF-8">\n    <meta name="viewport" content="width=device-width, initial-scale=1.0">\n    <title>Flipkart reCAPTCHA</title>\n    <style>\n        @font-face {\n\t\t\tfont-family: \'inter_regular\';\n\t\t\tfont-weight: 400;\n\t\t\tfont-style: normal;\n\t\t\tfont-display: swap;\n\t\t\tsrc: local(\'Inter Regular\'), local(\'Inter-Regular\'), local(\'inter_regular\'), local(\'Inter\'), local(\'sans-serif\'), url(https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/fonts/Inter-Regular.woff2) format(\'woff2\'), url(https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/fonts/Inter-Regular.woff) format(\'woff\');\n\t\t}\n\n\t\t@font-face {\n\t\t\tfont-family: \'inter_semi_bold\';\n\t\t\tfont-weight: 600;\n\t\t\tfont-style: normal;\n\t\t\tfont-display: swap;\n\t\t\tsrc: local(\'Inter Medium\'), local(\'Inter-Medium\'), local(\'inter_semi_bold\'),\n\t\t\t\tlocal(\'Inter\'), local(\'sans-serif-medium\'),  url(https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/fonts/Inter-SemiBold.woff2) format(\'woff2\'),\n\t\t\t\turl(https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/fonts/Inter-SemiBold.woff) format(\'woff\');\n\t\t}\n\n        body, html {\n            height: 100%;\n        }\n        .container {\n            height: 100%;\n            text-align: center;\n            display: flex;\n            flex-direction: column;\n            justify-content: center;\n            align-items: center;\n        }\n        .logo {\n            width: 60px;\n\t        height: 60px;\n        }\n        .header {\n            font-family: \'inter_semi_bold\', sans-serif;\n            font-size: 24px;\n            line-height: 34px;\n            margin-bottom: 5%;\n            font-weight: 600;\n        }\n        .subText {\n            font-family: \'inter_regular\', sans-serif;\n            font-size: 17px;\n            line-height: 24px;\n            font-weight: 400;\n            text-align: center;\n            margin-bottom: 0;\n        }\n        .loaderContainer {\n            margin-top: 5%;\n        }\n        .loader {\n            border: 3px solid #f3f3f3;\n            border-radius: 50%;\n            border-top: 3px solid #2874F0;\n            width: 32px;\n            height: 32px;\n            -webkit-animation: spin 2s linear infinite;\n            animation: spin 2s linear infinite;\n        }\n\n        /* Safari */\n        @-webkit-keyframes spin {\n            0% { -webkit-transform: rotate(0deg); }\n            100% { -webkit-transform: rotate(360deg); }\n        }\n\n        @keyframes spin {\n            0% { transform: rotate(0deg); }\n            100% { transform: rotate(360deg); }\n        }\n    </style>\n    <script src="https://www.google.com/recaptcha/api.js?render=6Lc49B0pAAAAAIVgOhfwW8i7t7SRO0KSnlSVZRAq"></script>\n    <script type="text/javascript" defer async>\n            function filterText(text) {\n                var pattern = /[^A-Za-z\\/_\\\\]/g;\n                var filteredText = text.replace(pattern, \'\');\n                return filteredText;\n            }\n            grecaptcha.ready(function () {\n                let action = location.pathname.substring(location.pathname.lastIndexOf("/") + 1);\n                if(!action){\n                    action = "index";\n                }\n                action = filterText(action);\n                grecaptcha.execute("6Lc49B0pAAAAAIVgOhfwW8i7t7SRO0KSnlSVZRAq", {\n                    action: action\n                }).then(function (token) {\n                    var captcha_resp_body = "grecaptcharesp=" + token + "&location=" + encodeURIComponent(document.URL);\n                    var makereport = new XMLHttpRequest();\n                    makereport.open("POST", `/.well-known/haproxy/captcha_callback`, true);\n                    makereport.setRequestHeader("Content-type", "application/x-www-form-urlencoded");\n                    makereport.onreadystatechange = function () {\n                        if (makereport.readyState == 4 && makereport.status == 200) {\n                            document.cookie = "solved_captcha=" + makereport.responseText;\n                            window.location.reload();\n                        }\n                    };\n                    makereport.send(captcha_resp_body);\n                })\n            })\n    </script>\n</head>\n<body>\n<div class="container">\n    <img class="logo" src="https://rukminim1.flixcart.com/www/60/60/promos/14/06/2024/88011666-ce1d-40f0-a8eb-1bac7d164885.png?q=60" alt="Flipkart Logo" />\n    <h1 class="header">Are you a human?</h1>\n    <p class="subText">Confirming...</p>\n    <div class="loaderContainer"><div class="loader"></div></div>\n</div>\n</body>\n\n</html>'