## **Questions based on Titanic Dataset:**

To read the dataset as csv, use the below code:

```python
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)
```

In [7]:
import pandas as pd
import numpy as np
url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)

### `Q-1:` Using `groupby` make groups using the `"Pclass"` column and find out the average age and total number of missing values in the `"Age"` column for every group.

In [22]:
pclass_groups=titanic_df.groupby('Pclass')

#print(pclass_groups.groups.keys())
for group in list(pclass_groups.groups.keys()):
    print(f"Pclass {group} : Avg Age {pclass_groups.get_group(group)['Age'].mean()}and total number of missing values in the Age {pclass_groups.get_group(group)['Age'].isna().sum()}")

Pclass 1 : Avg Age 38.233440860215055and total number of missing values in the Age 30
Pclass 2 : Avg Age 29.87763005780347and total number of missing values in the Age 11
Pclass 3 : Avg Age 25.14061971830986and total number of missing values in the Age 136

### `Q-2:` Using `groupby` make groups using the `"Pclass"` column and fill every group's `"Embarked"` column's missing values with the mode value of that group. After that, print every group's `"Embarked"` column's value counts in ascending order.

In [23]:
for group in list(pclass_groups.groups.keys()):
    mode=pclass_groups.get_group(group)["Embarked"].mode()
    pclass_groups.get_group(group)["Embarked"].fillna(mode)
    print(pclass_groups.get_group(group)["Embarked"].value_counts(ascending=True))

Q      2
C     85
S    127
Name: Embarked, dtype: int64
Q      3
C     17
S    164
Name: Embarked, dtype: int64
C     66
Q     72
S    353
Name: Embarked, dtype: int64