In [2]:
import pandas as pd
import numpy as np

DATA DESCRIPTION
```
file name -> Columns
quater-i.csv -> ['order_id', 'quantity', 'item_id', 'choice_description_id' 'item_price']
items.csv -> ['item_id', 'item_name']
```
Dataset Link - https://drive.google.com/drive/folders/1Z0kaFybvgFeczeUj4dldUnhTdloLqLsL?usp=share_link

In [23]:
items_path=r'F:\Python\datasets\items.csv'
q1_path=r"F:\Python\datasets\quarter-1.csv"
q2_path=r"F:\Python\datasets\quarter-2.csv"
q3_path=r"F:\Python\datasets\quarter-3.csv"

q1=pd.read_csv(q1_path)
q2=pd.read_csv(q2_path)
q3=pd.read_csv(q3_path)
items=pd.read_csv(items_path)

### `Q:1-5`
1. You are given three quater files, your job is to append these three files and make a single dataframe.
2. Have a index as Q-1 Q-2 Q-3 for respective quater files in the dataframe
3. Your are given a file items.csv which has item_id and item_name. Find out most sold items in each quarter.
4. Find out items which has made most revenue in each quarter.
5. Find out avg order price of each quarter.

***Note: item_price is given as str with $ sign, in earlier task you have converted this to rupees, here too first convert item_price field in rupees.***

In [24]:
#1+2
df1=pd.concat([q1,q2,q3],keys=["Q1","Q2","Q3"])
df1

        order_id quantity item_id choice_description_id item_price
Q1 0           1        1       1                     1     $3.39
   1           1        1       2                     2     $3.39
   2           2        2       4                     3    $16.98
   3           4        1       7                     6     $9.25
   4           6        1       9                     8     $8.75
...          ...      ...     ...                   ...        ...
Q2 2342     1829        1      23                    92    $11.25
   2343     1830        1      23                  1043    $11.25
   2344     1832        1      10                   116     $8.75
   2345     1832        1       8                     0     $4.45
   2346     1834        1      20                   515    $11.25

[4622 rows x 5 columns]

In [30]:
#3
#Your are given a file items.csv which has item_id and item_name. Find out most sold items in each quarter.
new_df=df1.reset_index().merge(items,on="item_id")
new_df.rename(columns={'level_0':'quarter'},inplace=True)
new_df.groupby(['quarter','item_name'],as_index=False)['quantity'].sum().sort_values('quantity',ascending=False).drop_duplicates(subset='quarter',keep='first')

   quarter     item_name  quantity
65      Q2  Chicken Bowl       394
17      Q1  Chicken Bowl       367

In [47]:
#4. Find out items which has made most revenue in each quarter.
#new_df['item_price'].dtype
#new_df["item_price"] = new_df.item_price.apply(lambda x: float(x[1:]))
#dtype(new_df["item_price"])
new_df["total_item_price"] = new_df["item_price"] * new_df["quantity"]
new_df.groupby(["quarter", "item_name"], as_index = False)["total_item_price"].sum().sort_values("total_item_price", ascending=False).drop_duplicates("quarter", keep="first")

   quarter     item_name  total_item_price
65      Q2  Chicken Bowl           4192.25
17      Q1  Chicken Bowl           3852.38

In [49]:
#5. Find out avg order price of each quarter.
new_df.groupby(['quarter','order_id'],as_index=False)['total_item_price'].sum().groupby('quarter',as_index=False)['total_item_price'].mean()

  quarter  total_item_price
0      Q1         13.809488
1      Q2         13.279828

### `Q-6` From the IPL wala dataset you have to find the Purple cap holder each season.

*Note: Bowler with most no wickets in a season gets purple cap. If more than one bowler have same no of wickets in the season, one with least ecomnomy among them is purple cap holder.*

Bowler's Economy = runs-conceded per six balls

In [3]:
balls=pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRu6cb6Pj8C9elJc5ubswjVTObommsITlNsFy5X0EiBY7S-lsHEUqx3g_M16r50Ytjc0XQCdGDyzE_Y/pub?output=csv")
matches = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv")

In [4]:
balls.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [5]:
matches.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [32]:
seasondf=balls.merge(matches[["ID", "Season"]],on="ID")
#seasondf.head()
seasondf["IsBowlerWicket"]=seasondf['kind'].apply(lambda x: 1 if x in ["caught", 'caught and bowled', 'bowled', 'stumped','lbw', 'hit wicket'] else 0)
seasondf["BowlerRun"]=seasondf['extra_type'].apply(lambda x:0 if x in ['legbyes','wides'] else 1)*seasondf['total_run']
seasondf["IsLegalBall"]=seasondf['extra_type'].apply(lambda x:0 if x in ["wides", "noballs"] else 1)

In [41]:
pcapdf=seasondf.groupby(["Season", "bowler"],as_index=False)[["IsBowlerWicket","BowlerRun","IsLegalBall"]].sum()
pcapdf["Economy"]=seasondf["BowlerRun"]/seasondf["IsLegalBall"]*6

In [46]:
pcapdf.sort_values(['IsBowlerWicket','Economy'],ascending=[False,True]).drop_duplicates("Season", keep = "first").sort_values('Season')

       Season         bowler  IsBowlerWicket  BowlerRun  IsLegalBall  Economy
84    2007/08  Sohail Tanvir              22        249          247      6.0
174      2009       RP Singh              23        402          358      0.0
284   2009/10        PP Ojha              21        421          353     36.0
447      2011     SL Malinga              28        359          378      6.0
537      2012       M Morkel              25        444          378      inf
629      2013       DJ Bravo              32        481          375     36.0
779      2014      MM Sharma              23        453          323      0.0
847      2015       DJ Bravo              26        419          314      0.0
938      2016        B Kumar              23        467          396      6.0
1048     2017        B Kumar              26        363          314      6.0
1144     2018         AJ Tye              24        433          336      6.0
1278     2019       K Rabada              26        366          288      0.0
1381  2020/21       K Rabada              32        533          398     36.0
1467     2021       HV Patel              32        443          338      0.0
1671     2022      YS Chahal              27        507          408      0.0

Match Result from- https://www.mykhel.com/cricket/ipl-purple-cap-winners-list-s4/

### `Q-7:` Best bowler in death overs. 
*Note: Have taken most no of wickets in case of tie with least economy*

Death Overs - [16-20]